<script>
	// Imports
	import language from "../language.js";
	import { sendLang, receiveIso } from "../stores.js";

	// Exports
	export let openDropdown;
	export let resetReceiver;
	export let optimusAll;
	export let handleTouchStart;
	export let handleTouchMove;
	export let handleTouchEnd;

	// Props
	let searchTerm = "";
	let mergedDataFilter = [];
	let searchInput = "";

	// Filter countries
	export const runFilter = () => {
		if (!searchTerm) {
			mergedDataFilter = { ...optimusAll };
			return;
		}
		const removeDiacritics = (str) => str.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
		const normalizedSearchTerm = removeDiacritics(searchTerm.trim().toLowerCase());
		mergedDataFilter = Object.fromEntries(
			Object.entries(optimusAll).filter(([_, countryName]) => {
				const normalizedCountryName = removeDiacritics(countryName.toLowerCase());
				return normalizedCountryName.includes(normalizedSearchTerm);
			})
		);
	};

	$: if(openDropdown) {
		searchTerm = null
		runFilter();
	}
</script>

<div class:selected={openDropdown}>
	<span on:touchstart|passive={handleTouchStart} on:touchmove|passive={handleTouchMove} on:touchend={handleTouchEnd}>
		<hr>
		<input
			bind:this={searchInput}
			bind:value={searchTerm}
			on:input={() => runFilter()}
			type="search"
			id="search"
			name="search"
			placeholder={$language[$sendLang].searchterm}
			autocomplete="off"
			inputmode="text"
		/>
		<button type="button" on:click={() => openDropdown = false}>
			<iconify-icon icon="iconamoon:close" width="24" height="24"></iconify-icon>
		</button>
	</span>
	<menu>
		{#if mergedDataFilter}
			{#each Object.entries(mergedDataFilter).sort((a, b) => a[1].localeCompare(b[1])) as countryIso}
				<li>
					<input
						type="radio"
						name="currency"
						id={countryIso[0]}
						value={countryIso[0]}
						bind:group={$receiveIso}
						on:change|stopPropagation={() => resetReceiver(countryIso[0])}
						on:change|stopPropagation={() => openDropdown = false}
					/>
					<label for={countryIso[0]}>
						{#if countryIso[0] === 'K1'}
							<iconify-icon icon="circle-flags:xk" width="26" height="26"></iconify-icon>
						{:else if countryIso[0] === 'TP'}
							<iconify-icon icon="circle-flags:tl" width="26" height="26"></iconify-icon>
						{:else if countryIso[0] === 'C2'}
							<iconify-icon icon="circle-flags:cy" width="26" height="26"></iconify-icon>
						{:else}
							<iconify-icon icon="circle-flags:{countryIso[0].toLowerCase()}" width="26" height="26"></iconify-icon>
						{/if}
						{countryIso[1]}
					</label>
				</li>
			{/each}
		{/if}
	</menu>
</div>

<style>
	div {
		box-sizing: border-box;
		background-color: white;
		border: none;
		overflow-x: scroll;
		overscroll-behavior: contain;
		z-index: 9999999999;
		margin: 0;
		padding: 0;
		transform: translate3d(0, 100%, 0);
		visibility: hidden;
		will-change: auto;
	}
	span {
		box-sizing: border-box;
		width: 100%;
		min-width: 100%;
		max-width: 100%;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		align-content: center;
		position: sticky;
		top: 0;
		background-color: white;
		border-bottom: 1px solid var(--ghost);
		padding-bottom: var(--remmy);
		gap: calc(var(--remmy) / 2);
	}
	hr {
		margin-top: var(--remmy);
		width: calc(var(--remmy) * 4);
		border: 2px solid var(--light);
		border-radius: var(--rad);
	}
	input[type="search"] {
		font-size: var(--remmy);
		width: calc(100% - calc(var(--remmy) * 3));
		height: calc(var(--remmy) * 3.4);
		padding-left: calc(var(--remmy) * 2.6);
		padding-right: var(--remmy);
		background: white
			url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="28" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="currentColor" d="M9.5 16q-2.725 0-4.612-1.888T3 9.5q0-2.725 1.888-4.612T9.5 3q2.725 0 4.612 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l5.6 5.6q.275.275.275.7t-.275.7q-.275.275-.7.275t-.7-.275l-5.6-5.6q-.75.6-1.725.95T9.5 16Zm0-2q1.875 0 3.188-1.313T14 9.5q0-1.875-1.313-3.188T9.5 5Q7.625 5 6.312 6.313T5 9.5q0 1.875 1.313 3.188T9.5 14Z"%2F%3E%3C%2Fsvg%3E')
			no-repeat 0.625rem center;
		transition: all 0.15s linear;
		border-radius: var(--rad);
		border: 1px solid var(--greyish);
		outline: 0px solid transparent;
		outline-offset: 0px;
		text-transform: capitalize;
	}
	input[type="search"]::placeholder {
		text-transform: none;
	} 
	input[type="search"]:focus {
		outline: 2.5px solid var(--dark);
		outline-offset: -2.5px;
	}
	button {
		font-family: 'Euclid WU';
		color: var(--dark);
	}
	span > button {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
		min-height: calc(var(--remmy) * 2.2);
		max-height: calc(var(--remmy) * 2.2);
		min-width: calc(var(--remmy) * 2.2);
		max-width: calc(var(--remmy) * 2.2);
		border-radius: calc(var(--rad) * 10);
		border: none;
		background: var(--ghost);
		padding: 0;
	}
	button:hover,
	button:active {
		background: var(--light);
		cursor: pointer;
	}
	menu, li {
		box-sizing: border-box;
		list-style: none;
		overflow: hidden;
		margin: 0;
		padding: 0;
	}
	menu {
		margin-bottom: var(--remmy);
	}
	menu > li {
		border-bottom: 1px solid var(--ghost);
		color: var(--dark);
		width: 100%;
	}
	input[type="radio"] {
		-webkit-appearance: none;
		appearance: none;
		display: none;
	}
	label {
		box-sizing: border-box;
		display: inline-flex;
		align-items: center;
		align-content: center;
		justify-content: flex-start;
		padding: 0 calc(var(--remmy) * 1.4);
		gap: calc(var(--remmy) / 1);
		width: 100%;
		min-height: calc(var(--remmy) * 3.5);
		font-size: var(--remmy);
		margin: 0;
	}
	label:hover {
		background-color: var(--light);
		cursor: pointer;
	}
	input[type="radio"]:checked + label {
		background-color: var(--ghost);
	}
	label > iconify-icon {
		display: inline-block;
		border: 1px solid var(--light);
		border-radius: 100px;
		min-height: 26px;
		min-width: 26px;
		background-color: var(--ghost);
	}
	.selected {
		transform: translate3d(0, 0, 0);
		transition: .3s cubic-bezier(0.165, 0.84, 0.44, 1);
		visibility: visible;
	}
	@media screen and (min-width: 480px) {
		div {
			min-height: 100%;
			max-height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			border-radius: calc(var(--rad) * 2);
		}
		hr {
			display: none;
		}
		span {
			padding: calc(var(--remmy) * 1.4) calc(var(--remmy) * 1.2);
		}
	}
	@media screen and (max-width: 480px) {
		div {
			min-height: 100vh;
			max-height: 100vh;
			width: 100%;
			min-width: 100%;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
		}
		span {
			padding: calc(var(--remmy) * 1.4) calc(var(--remmy) * 1.2);
			padding-top: 0;
		}
	}
</style>
