<script>
	// Imports
	import language from "../language.js";
	import {
		sendLang,
		sendAmount,
		serviceGroup,
		payinSelected,
		payoutSelected,
		serviceSelected,
		payins,
		payouts
	} from "../stores.js";

	// Props
	export let handleInput;
	export let handleTouchStart;
	export let handleTouchMove;
	export let handleTouchEnd;
	export let disclaimer = true;
	export let serviceGroupPayin;
	export let serviceGroupPayout;

	// Map translations to methods
	$: serviceGroupPayin = [...new Map($serviceGroup.map(v => [v.payin, v])).values()]
	$: serviceGroupPayout = [...new Map($serviceGroup.map(v => [v.payout, v])).values()]

	const mergeEverything = async() => {
		[$serviceSelected] = $serviceGroup.filter(group => group.payin === $payinSelected && group.payout === $payoutSelected);
	}
</script>

<div class:selected={$payins || $payouts || disclaimer}>
	<hr>
	<span on:touchstart|passive={handleTouchStart} on:touchmove|passive={handleTouchMove} on:touchend={handleTouchEnd}>
		{#if $payins}
			<h4>{@html $language[$sendLang].tablesend}</h4>
		{:else if $payouts}
			<h4>{@html $language[$sendLang].tablereceive}</h4>
		{:else if disclaimer}
			<h4>{@html $language[$sendLang].tablefee} / {@html $language[$sendLang].tablerate}</h4>
		{/if}
		<button type="button" on:click={() => ($payins = false, $payouts = false, disclaimer = false)}>
			<iconify-icon icon="iconamoon:close" width="24" height="24"></iconify-icon>
		</button>
	</span>
	{#if $payins}
		<ul>
			{#each serviceGroupPayin as {payin}, i}
				<li>
					<input type="radio" id={i + "_" + payin} value={payin} bind:group={$payinSelected} on:change={() => (mergeEverything(), handleInput($sendAmount, "sending"), $payins = false)}>
					<label for={i + "_" + payin}>{$language[$sendLang][payin]}</label>
				</li>
			{/each}
		</ul>
	{/if}
	{#if $payouts}
		<ul>
			{#each serviceGroupPayout as {payout}, i}
				<li>
					<input type="radio" id={i + "_" + payout} value={payout} bind:group={$payoutSelected} on:change={() => (mergeEverything(), handleInput($sendAmount, "sending"), $payouts = false)}>
					<label for={i + "_" + payout}>{$language[$sendLang][payout]}</label>
				</li>
			{/each}
		</ul>
	{/if}
	{#if disclaimer}
		<article>
			<p>{@html $language[$sendLang].claimratefee}</p>
		</article>
	{/if}
</div>

<style>
	div {
		box-sizing: border-box;
		background-color: white;
		border: none;
		overflow-x: hidden;
		overscroll-behavior: contain;
		z-index: 9999999999;
		margin: 0;
		padding: 0;
		transform: translate3d(0, 100%, 0);
		visibility: hidden;
		will-change: auto;
		height: 100%;
	}
	span {
		box-sizing: border-box;
		width: 100%;
		min-width: 100%;
		max-width: 100%;
		margin: auto;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		align-content: flex-end;
		background-color: white;
		border-bottom: 1px solid var(--ghost);
	}
	h4 {
		text-align: right;
		font-family: 'Euclid WU';
		font-weight: 500;
		font-size: calc(var(--remmy) * 1.1);
		color: var(--dark);
		margin: 0;
		padding: 0;
		align-self: flex-end;
	}
	hr {
		margin-top: var(--remmy);
		width: calc(var(--remmy) * 4);
		border: 2px solid var(--light);
		border-radius: var(--rad);
	}
	button {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
		min-height: calc(var(--remmy) * 2.2);
		max-height: calc(var(--remmy) * 2.2);
		min-width: calc(var(--remmy) * 2.2);
		max-width: calc(var(--remmy) * 2.2);
		border-radius: calc(var(--rad) * 10);
		border: none;
		background: var(--ghost);
		padding: 0;
		color: var(--dark);
	}
	button:hover,
	button:active {
		background: var(--light);
		cursor: pointer;
	}
	ul {
		box-sizing: border-box;
		margin: auto;
		padding: 0;
		background-color: white;
		width: 100%;
		height: 100%;
		padding: calc(var(--remmy) * 1.4) 0;
	}
	li {
		list-style: none;
	}
	label {
		box-sizing: border-box;
		display: inline-flex;
		align-items: center;
		align-content: center;
		justify-content: flex-start;
		margin: 0;
		padding: var(--remmy) calc(var(--remmy) * 1.4);
		width: 100%;
		cursor: pointer;
		border-bottom: 1px solid var(--ghost);
	}
	article {
		padding: calc(var(--remmy) * 1.4);
	}
	.selected {
		transform: translate3d(0, 0, 0);
		transition: .3s cubic-bezier(0.165, 0.84, 0.44, 1);
		visibility: visible;
	}
	input[type="radio"] {
		-webkit-appearance: none;
		appearance: none;
		display: none;
	}
	input[type="radio"]:hover + label {
		background-color: var(--light);
	}
	input[type="radio"]:checked + label {
		background-color: var(--ghost);
		font-weight: 500;
	}
	@media screen and (min-width: 480px) {
		div {
			min-height: 100%;
			max-height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			border-radius: calc(var(--rad) * 2);
		}
		hr {
			display: none;
		}
		span {
			padding: calc(var(--remmy) * 1.4);
		}
	}
	@media screen and (max-width: 480px) {
		div {
			min-height: 100vh;
			max-height: 100vh;
			width: 100%;
			min-width: 100%;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
		}
		span {
			padding: calc(var(--remmy) * 1.4);
			padding-top: calc(var(--remmy) / 2);
		}
	}
</style>
