<script>
	// Imports
	import language from "../language.js";
	import {
		receiveIso,
		receiveCurnc,
		receiveAmount,
		hostName,
		sendIso,
		sendCountryName,
		sendLang,
		sendCurnc,
		sendAmount,
		serviceGroup,
		isLoading,
		promise,
		payinPromo,
		payoutPromo,
		uuidv4,
		serviceSelected,
		payinSelected,
		payoutSelected,
		currencyArray
	} from "../stores.js";

	// Exports
	export let optimusAll = [];
	export let disclaimer = false;
	export let resetReceiver;
	export let openDropdown;

	// Props
	const pricesProducts = "/wuconnect/prices/products";

	// Fetch product list
	export const fetchProducts = async () => {
		try {
			const bodyProducts = {
				origination: {
					country: $sendIso,
					currency: $sendCurnc,
					sendAmount: $sendAmount,
				},
				destination: {
					country: $receiveIso,
					currency: $receiveCurnc,
				},
			};
			const response = await fetch($hostName + pricesProducts, {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
					"x-api-key": "7bb8938a-bfeb-40a4-8a11-e702de87d855",
					"x-wu-externalRefId": $uuidv4,
				},
				body: JSON.stringify(bodyProducts),
			});
			const data = await response.json();
			$serviceGroup = data.products;
			let highestRate = 0;
			$serviceGroup.forEach((item) => {
				switch (true) {
					case item.exchangeRate > highestRate:
						highestRate = item.exchangeRate;
						$serviceSelected = item;
						$payinSelected = $serviceSelected.payin;
						$payoutSelected = $serviceSelected.payout;
						break;
					case ($payinPromo && !$payoutPromo) && 
						item.payin === $payinPromo:
						$serviceSelected = item;
						$payinSelected = $serviceSelected.payin;
						$payoutSelected = $serviceSelected.payout;
						break;
					case ($payoutPromo && !$payinPromo) && 
						item.payout === $payoutPromo:
						$serviceSelected = item;
						$payinSelected = $serviceSelected.payin;
						$payoutSelected = $serviceSelected.payout;
						break;
					case ($payinPromo && $payoutPromo) && 
						item.payout === $payoutPromo &&
						item.payin === $payinPromo:
						$serviceSelected = item;
						$payinSelected = $serviceSelected.payin;
						$payoutSelected = $serviceSelected.payout;
						break;
				}
			});
		} catch (error) {
			throw new Error(error);
		}
	};

	// Get local coutry names and replace main list country names
	export const fetchOptimus = async () => {
		const bodyCountries = {
			origination: $sendIso,
			language: $sendLang,
			lists: [
				{
					name: "COUNTRY_LIST",
					type: "country",
				},
				{
					name: "TOP_COUNTRIES",
					type: "country",
				},
			],
			bashPath: `/${$sendIso}/${$sendLang}`,
		};
		try {
			const response = await fetch(
				$hostName +
					"/wuconnect/dcaas/list.optimus.json?dcaasversion=R231220",
				{
					method: "POST",
					headers: {
						"Content-Type": "application/json",
						Accept: "application/json",
					},
					body: JSON.stringify(bodyCountries),
				},
			);
			const data = await response.json();
			optimusAll = data.COUNTRY_LIST;
		} catch (error) {
			throw new Error(error);
		}
	};

	// Handle calculation and number validation
	export const handleInput = (value, option) => {
		if (option === "sending") {
			$sendAmount = value;
			$receiveAmount =
				Math.floor($sendAmount * $serviceSelected.exchangeRate * 100) /
				100;
		} else if (option === "receiving") {
			$receiveAmount = value;
			$sendAmount =
				Math.floor(
					($receiveAmount / $serviceSelected.exchangeRate) * 100,
				) / 100;
		}
	};

	// Show or hide dropdown
	const handleButtonClick = () => {
		openDropdown = true;
		disclaimer = false;
		const handleMenuClose = (event) => {
			const dropdownElement = document.querySelector("form");
			if (!dropdownElement.contains(event.target)) {
				openDropdown = false;
				disclaimer = false;
				document.body.removeEventListener("click", handleMenuClose);
			}
		};
		document.body.addEventListener("click", handleMenuClose);
	};

	// Init fetch and calculation
	$promise = fetchProducts().then(() => fetchOptimus()).then(() => handleInput($sendAmount, "sending"));

	// Set country name
	$: if ($receiveIso in optimusAll) {
		$sendCountryName = optimusAll[$receiveIso];
	}
</script>

{#await $promise}
	<fieldset><input type="button" class="loading"/></fieldset>
	<fieldset><input type="number" class="loading"/></fieldset>
	<fieldset><input type="number" class="loading"/></fieldset>
{:then}
	<!-- Country -->
	<fieldset>
		<iconify-icon icon="circle-flags:{$receiveIso.toLowerCase()}" width="28" height="28"></iconify-icon>
		<input
			type="button"
			id="country"
			name="country"
			value={$language[$sendLang].sendto + $sendCountryName}
			on:click|stopPropagation={() => handleButtonClick()}
		/>
		<button on:click|stopPropagation={() => handleButtonClick()}>
			<iconify-icon icon="iconamoon:arrow-down-2" width="24" height="24" observer="false"></iconify-icon>
		</button>
	</fieldset>
	<!-- Sending -->
	<fieldset>
		<input
			type="number"
			id="sending"
			name="sending"
			step="0.01"
			autocomplete="off"
			inputmode="numeric"
			bind:value={$sendAmount}
			on:input|stopPropagation={() => handleInput($sendAmount, "sending")}
			on:change|stopPropagation={() => fetchProducts()}
		/>
		<label for="sending">{$language[$sendLang].sendlabel}</label>
		<figure>
			<iconify-icon icon="circle-flags:{$sendIso.toLowerCase()}" width="22" height="22"></iconify-icon>
			{#if $currencyArray && $currencyArray.length > 1}
				<figcaption style="min-width: calc(var(--remmy) * 4); text-align: left;">{$sendCurnc}</figcaption>
			{:else}
				<figcaption>{$sendCurnc}</figcaption>
			{/if}
		</figure>
	</fieldset>
	<!-- Receiving -->
	<fieldset>
		<input
			type="number"
			id="receiving"
			name="receiving"
			step="0.01"
			autocomplete="off"
			inputmode="numeric"
			bind:value={$receiveAmount}
			on:input|stopPropagation={() => handleInput($receiveAmount, "receiving")}
			on:change|stopPropagation={() => fetchProducts()}
		/>
		<label for="receiving">{$language[$sendLang].receivelabel}</label>
		<figure>
			{#if $isLoading}
				<iconify-icon
					icon="svg-spinners:ring-resize"
					width="20"
					height="20"
					observer="false"
				></iconify-icon>
			{:else}
				{#if $receiveIso === 'K1'}
					<iconify-icon icon="circle-flags:xk" width="22" height="22"></iconify-icon>
				{:else if $receiveIso === 'TP'}
					<iconify-icon icon="circle-flags:tl" width="22" height="22"></iconify-icon>
				{:else if $receiveIso === 'C2'}
					<iconify-icon icon="circle-flags:cy" width="22" height="22"></iconify-icon>
				{:else}
					<iconify-icon icon="circle-flags:{$receiveIso.toLowerCase()}" width="22" height="22"></iconify-icon>
				{/if}
			{/if}
			{#if $currencyArray && $currencyArray.length > 1}
				<select name="selectcurrency" id="selectcurrency" bind:value={$receiveCurnc} on:change={() => resetReceiver($receiveIso)}>
					{#each $currencyArray as {currencyiso}}
						<option value="{currencyiso}">{currencyiso}</option>
					{/each}
				</select>
			{:else}
				<figcaption>{$receiveCurnc}</figcaption>
			{/if}
		</figure>
	</fieldset>
{/await}

<style>
	fieldset,
	input,
	label,
	figure,
	iconify-icon, select, option {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	/* Inputs */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		appearance: none;
		margin: 0;
	}
	fieldset {
		position: relative;
		width: 100%;
		border: none;
		overflow: hidden;
		display: inline-flex;
		align-items: center;
		align-content: center;
	}
	fieldset:focus-within label {
		color: var(--dark);
		transition: all 0.15s ease-out;
	}
	fieldset > iconify-icon {
		display: inline-block;
		align-items: center;
		align-content: center;
		position: absolute;
		left: calc(var(--remmy) * 1.1);
		border-radius: 100px;
		border: 1px solid var(--light);
	}
	label {
		position: absolute;
		top: calc(var(--remmy) / 1.6);
		left: calc(var(--remmy) + 0.1rem);
		font-size: calc(var(--remmy) / 1.1);
		color: var(--grey);
		pointer-events: none;
		display: block;
	}
	input {
		height: 100%;
		width: 100%;
		background-color: white;
		transition: all 0.15s ease-out;
		border-radius: var(--rad);
		border: 1px solid var(--greyish);
		outline: 0px solid transparent;
		outline-offset: 0px;
		font-family: "Euclid WU";
		color: var(--dark);
		font-weight: 500;
		text-align: left;
	}
	input[type="button"] {
		padding-top: var(--remmy);
		padding-bottom: calc(var(--remmy) / 1.15);
		padding-right: var(--remmy);
		padding-left: calc(var(--remmy) * 3.8);
		font-size: calc(var(--remmy) * 1.1);
		cursor: pointer;
		overflow: hidden;
		text-overflow: ellipsis;
		text-wrap: balance;
	}
	input[type="number"] {
		padding: 0 var(--remmy);
		padding-top: calc(var(--remmy) * 1.8);
		padding-bottom: calc(var(--remmy) / 2);
		letter-spacing: 0.1rem;
		font-size: calc(var(--remmy) * 1.35);
	}
	input:focus {
		outline: 2.5px solid var(--dark);
		outline-offset: -2.5px;
	}
	input::-webkit-contacts-auto-fill-button {
		visibility: hidden;
		pointer-events: none;
		position: absolute;
	}
	button {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: space-between;
		position: absolute;
		right: var(--remmy);
	}
	figure {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: flex-start;
		position: absolute;
		height: 100%;
		right: calc(var(--remmy) * 1.4);
		min-width: calc(var(--remmy) * 5);
		width: auto;
		gap: calc(var(--remmy) / 2);
	}
	button {
		border: none;
		background: none;
		cursor: pointer;
		color: var(--dark);
	}
	figcaption, select {
		text-align: right;
		font-family: 'Euclid WU';
		font-weight: 500;
		font-size: calc(var(--remmy) * 1.1);
		color: var(--dark);
	}
	select, option {
		-webkit-appearance: none;
		appearance: none;
		border: none;
		background: none;
		cursor: pointer;
	}
	select {
		text-align-last: left;
		padding-right: calc(var(--remmy) * 1.6);
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m7 10l5 5m0 0l5-5'/%3E%3C/svg%3E");
		background-position: center right;
		background-repeat: no-repeat;
		min-width: calc(var(--remmy) * 4);
	}
	option {
		direction: rtl;
	}

	* {
		/* border: thin dashed purple; */
	}
</style>
