<script>
	// Imports
	import language from "../language.js";
	import {
		sendLang,
		receiveCurnc,
		sendCurnc,
		sendAmount,
        promise,
		payinSelected,
		payoutSelected,
		serviceSelected,
		payins,
		payouts
	} from "../stores.js";

	// Exports
	export let disclaimer;
	export let serviceGroupPayin;
	export let serviceGroupPayout;

	// Show or hide dropdown
	const toggleDropdown = (type) => {
		if (type === "payins") {
			$payins = true;
			$payouts = false;
		} else if (type === "payouts") {
			$payins = false;
			$payouts = true;
		}
		const handleMenuClose = (e) => {
			const dropdownElement = document.querySelector("form");
			if (!dropdownElement.contains(e.target)) {
				$payins = false;
				$payouts = false;
				disclaimer = false;
				document.body.removeEventListener("click", handleMenuClose);
			}
		};
		document.body.addEventListener("click", handleMenuClose);
	};
	const handleButtonClick = (event) => toggleDropdown(event, event);
</script>

{#await $promise}
	<div class="loading"></div>
{:then}
	<div>
		<section>
			<article>
				<h4>{@html $language[$sendLang].tablesend}</h4>
				{#if serviceGroupPayin.length > 1}
					<button on:click={() => handleButtonClick("payins")} class="dropdown-link">
						{$language[$sendLang][$payinSelected]}
						<iconify-icon icon="iconamoon:arrow-down-2-bold" width="18" height="18"></iconify-icon>
					</button>
				{:else}
					<p>{$language[$sendLang][$payinSelected]}</p>
				{/if}
			</article>
			<article>
				<h4>{@html $language[$sendLang].tablereceive}</h4>
				{#if serviceGroupPayout.length > 1}
					<button on:click={() => handleButtonClick("payouts")}>
						{$language[$sendLang][$payoutSelected]}
						<iconify-icon icon="iconamoon:arrow-down-2-bold" width="18" height="18"></iconify-icon>
					</button>
				{:else}
					<p>{$language[$sendLang][$payoutSelected]}</p>
				{/if}
			</article>
			<article class:special={$serviceSelected.grossFee === 0}>
				<!-- svelte-ignore a11y-click-events-have-key-events -->
				<!-- svelte-ignore a11y-no-noninteractive-element-interactions -->
				<h4 on:click={() => disclaimer = !disclaimer} style="cursor: pointer">
					{@html $language[$sendLang].tablefee}
					<iconify-icon icon="iconamoon:information-circle" width="14" height="14"></iconify-icon>
				</h4>
				<button on:click={() => disclaimer = !disclaimer}>
					{$serviceSelected.grossFee} {$sendCurnc}
				</button>
			</article>
			<hr>
			<article>
				<h4>{@html $language[$sendLang].tabletotal}</h4>
				<em style="display: flex; flex-direction: column; align-items: flex-end;">
					{$sendAmount + $serviceSelected.grossFee} {$sendCurnc}
					<small>
						1 {$sendCurnc} =
						{$serviceSelected.exchangeRate.toFixed(4)}
						{$receiveCurnc}
					</small>
				</em>
			</article>
		</section>
	</div>
{/await}

<style>
	div {
		box-sizing: border-box;
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: space-between;
		width: 100%;
		min-height: calc(var(--remmy) * 13);
		border-radius: var(--rad);
		padding: var(--remmy) calc(var(--remmy) * 1.2);
		margin: calc(var(--remmy) / 4) 0;
		background-color: var(--ghost);
	}
	section {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: center;
		justify-content: space-between;
		width: 100%;
	}
	p, button {
		font-family: "Euclid WU";
		font-weight: 500;
		color: var(--dark);
	}
	h4 {
		display: flex;
		align-items: center;
		font-weight: 400;
		color: var(--dark);
		gap: calc(var(--remmy) / 4);
	}
	em {
		font-weight: 500;
		font-size: calc(var(--remmy) * 1.3);
		font-style: normal;
		color: var(--dark);
		line-height: 1.1;
	}
	h4, p, button {
		padding: 0;
		margin: 0;
		font-size: calc(var(--remmy) / 1.1);
		align-content: center;
	}
	small {
		font-weight: 500;
		font-size: calc(var(--remmy) / 1.2);
	}
	h4, p, button, small {
		height: calc(var(--remmy) * 1.8);
	}
	article {
		box-sizing: border-box;
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: space-between;
		width: 100%;
		margin: 0;
		padding: 0;
		position: relative;
	}
	button {
		box-sizing: border-box;
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
		background: none;
		border: none;
		cursor: pointer;
		text-align: right;
	}
	hr {
		border: 0.5px solid var(--light); 
		display: inline-block; 
		width: 100%;
		margin: var(--remmy) 0;
	}
	.special {
		margin-top: calc(var(--rad) / 2)
	}
	.special > button {
		background-color: var(--green);
		padding: 0 calc(var(--remmy) / 1.4);
		border-radius: calc(var(--rad) * 2);
		color: white;
		font-size: calc(var(--remmy) / 1.2);
	}
	@media screen and (max-width: 480px) {
		h4, p, button, small, em {
			line-height: 1;
			padding: 8px 0;
		}
	}
</style>
